# Core functionality - changes here should be rare!
/src/app.py                   @thukhakyawe
/src/backend/database.py      @thukhakyawe
/src/backend/routers/auth.py  @thukhakyawe

# The frontend will need refactored soon to be more object oriented.
/src/static/   @thukhakyawe
